<!DOCTYPE html>
<html>
<head>
  <title>Jeopardybackend</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class=<%= "#{controller.controller_name.to_s}-#{controller.action_name.to_s}" %>>

<%= yield %>
</body>
</html>
