<input class="username" type="text" />
<button class="add-user">Add User</button>

<div class="connected-players ui list">
</div>

<table class="ui celled striped table">

  <thead>
    <tr>
      <% @clue_groups.each do |clue_group| %>
        <th><%= "#{clue_group.category.name} (#{clue_group.year})"%></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
        <% @clue_groups.each do |clue_group| %>
          <td><%= clue_group.clues.where(point_value: 200).first.question %></td>
        <% end %>
    </tr>
    <tr>
        <% @clue_groups.each do |clue_group| %>
          <td><%= clue_group.clues.where(point_value: 400).first.question %></td>
        <% end %>
    </tr>
    <tr>
        <% @clue_groups.each do |clue_group| %>
          <td><%= clue_group.clues.where(point_value: 600).first.question %></td>
        <% end %>
    </tr>
    <tr>
        <% @clue_groups.each do |clue_group| %>
          <td><%= clue_group.clues.where(point_value: 800).first.question %></td>
        <% end %>
    </tr>
    <tr>
        <% @clue_groups.each do |clue_group| %>
          <td><%= clue_group.clues.where(point_value: 1000).first.question %></td>
        <% end %>
    </tr>
  </tbody>
</table>
